'.videoplayer':
    'space':        'videoplayer:toggle-playback'
    'c':            'videoplayer:toggle-controls'
    'a':            'videoplayer:seek-backward'
    'd':            'videoplayer:seek-forward'
    'left':         'videoplayer:seek-backward'
    'right':        'videoplayer:seek-forward'
    'shift-a':      'videoplayer:seek-backward'
    'shift-d':      'videoplayer:seek-forward'
    'shift-left':   'videoplayer:seek-backward'
    'shift-right':  'videoplayer:seek-forward'
    'up':           'videoplayer:goto-start'
    'down':         'videoplayer:goto-end'
    'm':            'videoplayer:toggle-mute'
