'.videoplayer':
    'right':        'videoplayer:seek-forward'
    'left':         'videoplayer:seek-backward'
    'shift-right':  'videoplayer:seek-forward'
    'shift-left':   'videoplayer:seek-backward'
    'pageup':       'videoplayer:seek-forward'
    'pagedown':     'videoplayer:seek-backward'
    'up':           'videoplayer:volume-increase'
    'down':         'videoplayer:volume-decrease'
    '+':            'videoplayer:volume-increase'
    '-':            'videoplayer:volume-decrease'
    'm':            'videoplayer:mute'
    'space':        'videoplayer:play'
    'enter':        'videoplayer:play'
    'p':            'videoplayer:play'
    'f':            'videoplayer:toggle-fullscreen'
    's':            'videoplayer:screenshot'
    '0':            'videoplayer:goto-start'
