'.videoplayer':
    'up':           'videoplayer:goto-start'
    'down':         'videoplayer:goto-end'
    '+':            'videoplayer:rate-increase'
    '-':            'videoplayer:rate-decrease'
    'left':         'videoplayer:seek-backward'
    'right':        'videoplayer:seek-forward'
    'shift-left':   'videoplayer:seek-backward'
    'shift-right':  'videoplayer:seek-forward'
    'space':        'videoplayer:toggle-playback'
    'c':            'videoplayer:toggle-controls'
    'm':            'videoplayer:toggle-mute'
