
@import "ui-variables";

[data-path$='.3gp']:before,
[data-path$='.avi']:before,
[data-path$='.mov']:before,
[data-path$='.mp4']:before,
[data-path$='.m4v']:before,
[data-path$='.mkv']:before,
[data-path$='.ogv']:before,
[data-path$='.ogm']:before,
[data-path$='.webm']:before {
    content: "\f057" !important;
}

.videoplayer {
    > video {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 10;
		&.no-controls-autohide {
			&::-webkit-media-controls-panel {
				display: flex !important;
				opacity: 1 !important;
			}
		}
        &::-webkit-full-screen {
            width: 100%;
            height: 100%;
        }
        &::-webkit-media-controls-panel {
            background: none;
        }
        &::-webkit-media-controls-play-button {
            cursor: pointer;
        }
    }
}

/*
.status-bar-videoplayer {
    &::before {
        padding-right: 20px;
    }
}
*/
