@import "ui-variables";

.videoplayer {
    //background: #000;
}

.videoplayer video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.videoplayer video:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.videoplayer video::-webkit-media-controls-fullscreen-button {
    display: none;
}

/* ------- Statusbar ------- */

.videoplayer-status {
    display: none;
}


/*
video::-webkit-media-controls-play-button {}
video::-webkit-media-controls-timeline {}
video::-webkit-media-controls-current-time-display{}
video::-webkit-media-controls-time-remaining-display {}
video::-webkit-media-controls-mute-button {}
video::-webkit-media-controls-toggle-closed-captions-button {}
video::-webkit-media-controls-volume-slider {}
*/

/*
.scalemode-fit {
}
.scalemode-stretch {
}
*/
/*
[data-name$='.3gp']:before,
[data-name$='.avi']:before,
[data-name$='.mov']:before,
[data-name$='.mp4']:before,
[data-name$='.m4v']:before,
[data-name$='.mkv']:before,
[data-name$='.ogv']:before,
[data-name$='.ogm']:before,
[data-name$='.webm']:before {
    //content: "\f057";
}
*/
